/* Color sheme
   #121619
   #2D4739
   #09814A
   #BCB382
   #E5C687
 */

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFF;
  color: #000;
  font-family: 'Roboto', sans-serif;
}

.body-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

p {}

p.intro {
  max-width: 600px;
  margin-top: 1em;
  margin-bottom: 1em;
}
p.intro:first-child {
  margin-top: 2em;
}

h1 {
  font-weight: bold;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-size: 120%;
}

a,
a:link,
a:visited {
  color: #2D4739;
  text-decoration: none;
}
a:hover {
  color: #000;
  text-decoration: underline;
}

.centered {
  margin: auto;
}
.center-text {
  text-align: center;
}

.content {
  overflow: auto;
  flex: 2;
}

.footer {
  background-color: #121619;
  padding-top: .5em;
  height: 2em;
  width: 100%;
}
.footer p {
  margin: 0;
  font-size: 55%;
  color: #fff;
  line-height: 1.5em;
  text-transform: uppercase;
  text-align: center;
}
.footer p a {
  color: #E5C687;
}

.logo {
  position: relative;
  height: 5em;
  background-color: #09814A;
  color: #FFF;
  border-bottom: 1px solid #000;
}
.logo .text {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Lobster', cursive;
  font-size: 300%;
  text-shadow: 2px 2px 4px #000;
  white-space: nowrap;
}

.menu,
.mouse-menu {
  border-bottom: 1px solid #121619;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #121619;
  overflow: hidden;
}
.menu a,
.mouse-menu a,
.menu .saving-status {
  display: inline-block;
  color: #FFF;
  padding: .5em 1em .5em 1em;
  transition: background-color .2s;
  font-size: 95%;
  letter-spacing: .1em;
  text-transform: uppercase;
  border-right: 1px solid #2D4739;
}
.menu a.undo-redo {
  font-size: 150%;
  padding: 0.1em .4em 0.11em 0.4em;
  border: none;
}
.menu a.undo-redo.disabled {
  color: #777;
}
.menu a.undo-redo.disabled:hover {
  background-color: inherit;
  cursor: not-allowed !important;
}
.menu #undoBtn {
  transform: scalex(-1);
}
.menu .saving-status {
  position: absolute;
  right: 0;
  font-size: 100%;
  letter-spacing: normal;
  text-transform: none;
  border: none;
}
.menu .saving-status.failed {
  color: #E60000;
}
.menu a:hover,
.menu .dropdown-content a:hover,
.mouse-menu a:hover {
  background-color: #2D4739;
  text-decoration: none;
}
.menu .dropdown {
  float: left;
  overflow: hidden;
}
.menu .dropdown-content,
.mouse-menu {
  display: none;
  position: absolute;
  z-index: 1;
}
.menu .dropdown-content a,
.mouse-menu a,
.menu .dropdown-content .sep {
  display: block;
  background-color: #121619;
  letter-spacing: normal;
  text-transform: none;
}
.menu .dropdown-content a.disabled,
.mouse-menu a.disabled {
  color: #777;
}
.menu .dropdown-content a.disabled:hover {
  background-color: #121619;
}
.mouse-menu a.disabled:hover {
  background-color: inherit;
}
.menu .dropdown-content a.logout:hover {
  background-color: #810909;
}
.menu .dropdown:hover .dropdown-content {
  display: block;
}
body.loading .menu:hover a {
  background-color: #121619;
  cursor: not-allowed !important;
}
body.loading .menu .dropdown:hover .dropdown-content {
  display: none;
}
.menu .dropdown-content .sep {
  padding: 0.25em 0;
}
.menu .dropdown-content .sep div {
  border-top: 1px solid #2D4739;
  opacity: 0.5;
}

.login {
  margin-top: 3em;
  text-align: center;
}

a.button,
a.small_button {
  padding: 1em 3em;
  background-color: #09814A;
  color: #FFF;
  font-weight: bold;
  letter-spacing: .1em;
  text-transform: uppercase;
  border-width: 0;
  border-radius: 1.25em;
  transition: background-color .2s;
  white-space: nowrap;
}
a.small_button {
  padding: 1px .4em;
  border-radius: .1em;
}
a.button:hover,
a.small_button:hover {
  background-color: #0CA761;
  text-decoration: none;
}

.error,
.success {
  margin: 1em 0;
}
.error span.heading,
.success span.heading {
  font-weight: 700;
  letter-spacing: .1em;
}
.error span.heading {
  color: #E60000;
}
.success span.heading {
  color: #00CC00;
}

table {}
table th {
  text-align: left;
  text-transform: uppercase;
  font-size: 90%;
  letter-spacing: .1em;
}

form {
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.app-playlists-wrapper {
  padding: .5em;
  overflow-x: hidden;
  overflow-y: auto;
}
.app-playlist-content-wrapper {
  padding: .5em 1em;
}

.app-separator {
  height: 100%;
  width: .25em;
  background-color: #121619;
}
.app-separator:hover {
  cursor: ew-resize;
}

.app-playlists-wrapper table td {
  white-space: nowrap;
}
.app-playlists-wrapper table td a.selected {
  font-weight: bold;
}

.playlists-wrapper {
  display: flex;
  flex-direction: row;
}

.playlist {
  flex: 1;
}
.playlist .playlist-title {
  font-size: 125%;
  font-weight: bold;
}
.playlist .table-wrapper {
  overflow-y: auto;
}
.playlist table {
  margin-top: 1em;
  border-collapse: collapse;
  width: 100%;
}
.playlist table tbody tr {
  user-select: none;
}
.playlist table tbody tr.track:hover,
.playlist table tbody tr.empty-track:hover,
.playlist table tbody tr.right-clicked {
  background-color: #eee;
}
.playlist.drag-mode table tbody tr.track:hover {
  background-color: inherit;
}
.playlist table .index {
  text-align: right;
  width: 2em;
  padding-right: 1em;
}
.playlist table .length,
.playlist table tr.delimiter td.length,
.playlist table .aggr-length,
.playlist table th.bpm,
.playlist table td.bpm {
  text-align: right;
  padding-right: 1em;
}
.playlist table td.aggr-length,
.playlist table tr.delimiter td.length {
  color: #2D4739;
}
.playlist table th.bpm,
.playlist table td.bpm {
  width: 3em;
}
.playlist table td.bpm {
  font-size: 90%;
}
.playlist table th.genre,
.playlist table td.genre {
  width: 6.25em;
}
.playlist table th.length,
.playlist table td.length,
.playlist table th.aggr-length,
.playlist table td.aggr-length {
  width: 6em;
}
.playlist table th.comments,
.playlist table td.comments {
  width: 10em;
}
.playlist table textarea.comments {
  height: 2em;
  min-height: 2em;
  resize: vertical;
  padding-top: .1em;
  padding-bottom: .1em;
  box-sizing: border-box;
}

.playlist table .summary {}
.playlist table tr.delimiter div {
  border-top: 1px solid #09814A;
  opacity: 0.5;
}
.playlist table td.leftover {
  padding-top: 1em;
  font-weight: bold;
}
.playlist table tr.empty-track {
  font-style: italic;
}
.playlist table tr.empty-track.insert-before,
.playlist table tr.empty-track.insert-after,
.playlist table tr.empty-track.insert-before:hover,
.playlist table tr.empty-track.insert-after:hover {
  background-color: #0CA761;
}
.playlist table tr.summary .length {
  padding-top: .5em;
  font-weight: bold;
}
.playlist table td.title {
  padding: .5em 0;
}
.playlist table td.title div.artists {
  font-size: 80%;
  color: #2D4739;
}
.playlist table td.title a.preview {
  font-size: 130%;
  text-decoration: none;
  margin-left: .15em;
}
.playlist table td.title a:hover {
  color: #09814A;
}
.playlist table td.title a.playing {
  color: #0CA761;
}
.playlist table tr.playing {
  background-color: rgba(229, 198, 135, 0.4)
}
.playlist table tr.playing td.title {
  font-weight: bold;
}

.playlist table tr.selected,
.playlist.drag-mode table tr.track.selected:hover,
.playlist.drag-mode table tr.empty-track.selected:hover {
  background-color: rgba(12, 167, 97, 0.3);
}
.playlist table tr.track.selected:hover,
.playlist table tr.track.selected.right-clicked,
.playlist table tr.empty-track.selected:hover,
.playlist table tr.empty-track.selected.right-clicked {
  background-color: rgba(12, 167, 97, 0.4);
  cursor: pointer;
}

.track-overview {
  margin-top: .5em;
  display: none;
}
.track-overview + .track-overview {
  margin-top: 0;
}
.track-overview .stats {
  width: 100%;
  font-size: 80%;
}
.track-overview .bar-area {
  width: 100%;
  position: relative;
  overview-x: hidden;
}
.track-overview .bar-wrapper {
  display: inline-block;
  height: 100%;
  position: absolute;
  bottom: 0;
}
.track-overview .bar,
.track-overview .delimiter {
  display: inline-block;
  position: absolute;
  bottom: 0;
  border: 1px solid #000;
}
.track-overview .bar-wrapper.selected .bar,
.track-overview .bar-area.drag-mode .bar-wrapper.selected .bar:hover {
  background-color: #000 !important;
}
.track-overview .bar-wrapper.selected .bar:hover {
  background-color: #333 !important;
  cursor: pointer;
}
.track-overview .bar:hover {
  box-shadow: 0 0 .1em;
  z-index: 3;
}
.track-overview .bar-area.drag-mode .bar:hover {
  box-shadow: none;
}
.track-overview .delimiter {
  width: 1px;
  background-color: #09814A;
  border: 0;
  z-index: 2;
}
.track-overview-track-info {
  position: absolute;
  top: 0;
  left: 0;
  padding: .25em .5em;
  color: #fff;
  background-color: #09814A;
  border: .1em solid #09814A;
  border-radius: .4em;
  z-index: 4;
  display: none;
}

.playback {
  height: 4em;
  width: 100%;
  background-color: #121619;
  color: #FFF;
  padding: 0 1.5em;
  box-sizing: border-box;
  display: none;
}
.playback .x-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.playback .playing {
  width: 17rem;
  max-width: 17rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.playback .playing .artists {
  font-size: 80%;
  color: #BCB382;
}
.playback button.controller {
  margin: 0 1em 0 0;
  font-size: 150%;
  padding: 0;
  background-color: #09814A;
  border-color: #09814A;
  color: #FFF;
  font-weight: bold;
  letter-spacing: normal;
  text-transform: none;
  border-style: solid;
  border-width: 0;
  border-radius: 50%;
  transition: background-color .2s, border-color .2s;
  width: 1.8em;
  min-width: 1.8em;
  height: 1.8em;
}
.playback button:hover {
  background-color: #0CA761;
  border-color: #0CA761;
  cursor: pointer;
}
.playback .seek,
.playback .volume {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  user-select: none;
}
.playback .seek .length-pos,
.playback .seek .length-end {
  font-size: 80%;
  padding: 0 .5em;
  color: #E5C687;
}
.playback .seek .length-end {
  color: #555;
}
.playback .seek,
.playback .volume {
  height: 2ex;
}
.playback .volume {
  width: 20rem;
  max-width: 20rem;
  margin-left: 1em;
}
.playback .seek {
  flex: 1;
  display: flex;
  justify-content: center;
}
.playback .bar-wrapper .bar,
.playback .bar-wrapper .active-bar {
  height: .5ex;
  background-color: #555;
  border-radius: .5ex;
  position: relative;
}
.playback .seek .bar {
  width: 25em;
}
.playback .volume .bar {
  width: 8em;
}
.playback .bar-wrapper .active-bar {
  width: 0;
  background-color: #E5C687;
}
.playback .bar-wrapper .knob {
  display: none;
  position: absolute;
  bottom: 50%;
  height: 1.25ex;
  width: 1.25ex;
  bottom: 0;
  margin-bottom: -.5ex;
  margin-left: -.5ex;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: #fff;
}
.playback-error {
  position: absolute;
  background-color: #E60000;
  color: #fff;
  width: 100%;
  padding: 1ex 0;
  text-align: center;
  animation-name: errorFadeOut;
  animation-delay: 4s;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes errorFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

select.chosen-by-others {
  font-style: italic;
}

.grabbed {
  cursor: move !important;
}
.ew-resizing {
  cursor: ew-resize !important;
}

.scratchpad {
  margin-left: 1em;
  padding-left: 1em;
  border-left: .1em solid #000;
  display: none;
}
.scratchpad .playlist-title {
  font-style: italic;
}

.grabbed-info-block {
  position: absolute;
  top: 0;
  left: 0;
  padding: .25em .5em;
  color: #fff;
  background-color: #09814A;
  border: .1em solid #09814A;
  border-radius: .4em;
  z-index: 3;
  display: none;
}

.tr-drag-insertion-point {
  position: absolute;
  width: 0;
  height: .2em;
  background-color: #0CA761;
  z-index: 2;
  display: none;
}

.bar-drag-insertion-point {
  position: absolute;
  width: .2em;
  height: 0;
  background-color: #000;
  z-index: 3;
  display: none;
}

form div.input {
  margin: .1em 0;
}
input,
select,
textarea {
  background-color: #fff;
  border: 1px solid #09814A;
  padding: .2em .4em;
  font-family: 'Roboto', sans-serif;
}
select {
  padding-left: 0;
  padding-right: 0;
}
input.number {
  width: 1.5em;
  padding-left: 0;
  padding-right: 0;
}
input.bpm {
  width: 2.2em;
  padding-left: 0;
  padding-right: .4em;
  text-align: right;
}
input.invalid {
  border-color: #f00;
}
input.centered {
  text-align: center;
}

button,
input.button {
  margin: .5em 0;
  font-size: 75%;
  padding: .8em 1.2em;
  background-color: #09814A;
  border-color: #09814A;
  color: #FFF;
  font-weight: bold;
  letter-spacing: .1em;
  text-transform: uppercase;
  border-style: solid;
  border-width: .2em;
  border-radius: .8em;
  transition: background-color .2s, border-color .2s;
}
button:hover,
input.button:hover,
button.lowlight:hover,
button.cancel:hover {
  background-color: #0CA761;
  border-color: #0CA761;
  color: #fff;
  cursor: pointer;
}
button:disabled,
button.lowlight:disabled {
  background-color: #8f8f8f;
  border-color: #8f8f8f;
  color: #fff;
  cursor: not-allowed !important;
}
button.small {
  padding: .1em .4em;
  border-radius: .2em;
}

label.checkbox {
  position: relative;
  padding-left: 1.7em;
}
label.checkbox input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
label.checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1em;
  width: 1em;
  background-color: #fff;
  border: 1px solid #09814A;
  transition: background-color .2s;
}
label.checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}
label.checkbox input:checked ~ .checkmark {
  background-color: #09814A;
}
label.checkbox:hover input:checked ~ .checkmark {
  background-color: #0CA761;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
label.checkbox input:checked ~ .checkmark:after {
  display: block;
}
label.checkbox .checkmark:after {
  left: .3em;
  top: .1em;
  width: .25em;
  height: .5em;
  border: solid white;
  border-width: 0 .2em .2em 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.logo .lang {
  position: absolute;
  right: .5em;
}
.logo .lang a {
  font-size: 70%;
  color: #FFF;
  margin-right: .1em;
}
.logo .lang a:hover {
  text-decoration: underline;
}

.instruction {
  margin-bottom: 1em;
  font-size: 125%;
  font-weight: bold;
}

.cookies {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  padding: 0 2em;
  box-sizing: border-box;
  border-top: 1px solid #121619;
  background-color: #09814A;
  color: #FFF;
}
.cookies table {
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
}
.cookies table td {
  margin: 0;
  padding: 0;
}
.cookies button {
  float: right;
  margin-left: 1em;
  font-size: 80%;
  color: #09814A;
  background-color: #FFF;
}
.cookies button:hover {
  background-color: #A0F8D0;
  border-color: #A0F8D0;
}

.action-input-area {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  display: none;
}
.action-input-area .background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #121619;
  opacity: 30%;
}
.action-input-area .input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border: 1px solid #000;
  padding: 2em;
}
.action-input-area .input .title {
  font-size: 125%;
  font-weight: bold;
  margin-bottom: 1em;
}
.action-input-area .input .buttons {
  margin-top: 1em;
  overflow: auto;
}
.action-input-area .input .buttons button {
  float: right;
  margin-left: 2em;
}
.action-input-area .input .more-input {
  margin-top: .4em;
  overflow: auto;
}
.action-input-area .search-results {
  margin-top: 2em;
  max-width: 60vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
}
.action-input-area .search-results .info {
  font-size: 80%;
}
.action-input-area .search-results .error {
  display: none;
  color: #E60000;
  font-weight: bold;
}
.action-input-area .search-results .duplicates-found {
  overflow-y: scroll;
}
.action-input-area .search-results .none-found,
.action-input-area .search-results .tracks-found {
  display: none;
}
.action-input-area .search-results .tracks-found .buttons {
  margin-top: 1em;
  text-align: center;
}
.action-input-area .search-results .tracks-found .buttons button {
  margin-left: 1em;
  float: none;
}
.action-input-area .search-results .tracks-found .buttons button:first-child {
  margin-left: 0;
}
.action-input-area .search-results .progress-bar {
  height: .1em;
  width: 0;
  background-color: #09814A;
  margin-bottom: .5em;
}
.action-input-area .search-results .table-wrapper {
  overflow-y: auto;
}

.song_link_help {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: none;
}
.song_link_help .background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #121619;
  opacity: 30%;
}
.song_link_help .info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  background-color: #121619;
}
.song_link_help .info h1,
.song_link_help .info p {
  color: #FFF;
}
.song_link_help .info img {
  margin-top: 1.25em;
}

button.lowlight,
button.cancel {
  background-color: #fff;
  color: #09814A;
}
button.loading {
  background-color: #8f8f8f !important;
  border-color: #8f8f8f !important;
  color: #fff !important;
}

.loading,
button.loading:hover {
  cursor: wait !important;
}
.bpm-range-area,
.dance-length-range-area {
  margin: 1em 0;
}
.bpm-range-area .track {
  width: 4em;
  font-weight: bold;
}
.bpm-range-area .label {
  width: 10em;
}
.dance-length-range-area .desc {
  width: 6em;
  font-weight: bold;
}
.dance-length-range-area .label {
  width: 7em;
}
.bpm-range-area .bpm-range-controller,
.bpm-range-area .bpm-difference-controller {
  width: 20em;
}
.dance-length-range-area .dance-length-range-controller {
  width: 24em;
}
.bpm-range-area button {
  margin: 0 .5em;
  padding: 0;
  width: 1.8em;
  height: 1.6em;
  border-radius: .2em;
}
.bpm-range-area button:first-child {
  margin-left: 2em;
}

.track-play-length-area .label {
  width: 4em;
}
.track-play-length-area .track-play-length-controller {
  width: 24em;
}

.track-fade-out-area .label {
  width: 4em;
}
.track-fade-out-area .track-fade-out-controller {
  width: 24em;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	border: 1px solid #0CA761;
	background: #0CA761;
	font-weight: normal;
	color: #ffffff;
}
.ui-icon-background,
.ui-state-active .ui-icon-background {
	border: #0CA761;
}
.ui-widget-header {
  background: rgba(12, 167, 97, 0.3);
}
.warning {
  font-weight: bold;
}
.warning span {
  color: #E60000;
}

.sub-info {
  font-size: 90%;
}

.donate img {
  margin: 0 1em;
  vertical-align: middle;
}

img.swish-qr {
  width: 50vw;
}

.swish-logo {
  height: auto;
  width: auto;
  max-height: 50px;
  max-width: 120px;
}

.select-playlist {
  display: flex;
  align-items: baseline;
  margin-bottom: .5em;
}
.select-playlist .desc {
  width: 10em;
  margin-left: 1em;
}
.select-playlist select {
}
